<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="static/styles/box-fill.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,400;1,400;1,600&family=Roboto+Slab:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>___</title>
    <!-- For Void Experiments / Void Writer / GOD BOX / Tiny Box -->
    <link rel="stylesheet" href="static/styles/void_writer.css" />
  </head>
  <body>
    <div class="basic_editor" contenteditable="true"></div>

    <!-- <h3 contenteditable="true" max="12"> CALL INTO THE VOID. DESTROY THIS TEXT</h3> -->

    <script src="prosemirror-1.js" type="module"></script>
    <script>
      // To prevent clicks on the editor from changing the background gradient
      document.querySelector(".basic_editor").addEventListener("click", () => {
        event.stopPropagation();
      });
    </script>
    <script src="static/gradient_randomizer.js"></script>
  </body>
</html>
